@import url(http://fonts.googleapis.com/css?family=Ledger);
@import url(http://fonts.googleapis.com/css?family=Lusitana);
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/main-menu\/\*\.png}line{font-family:\00003154}}
.main-menu-sprite, .main-menu-item.active:after, .main-menu-item a.home, .main-menu-item a.home:hover, .main-menu-item a.home.active, .main-menu-item a.files, .main-menu-item a.files:hover, .main-menu-item a.files.active, .main-menu-item a.settings, .main-menu-item a.settings:hover, .main-menu-item a.settings.active, .second-menu .item.active:after, .icon-edit, .icon-save, .icon-preview, .icon-delete, .icon-logout, .icon-insert-images, .icon-help, .logout {
  background: url('/img/main-menu-s54229f11b2.png') no-repeat;
}

/* ICON */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_mixin\.scss}line{font-family:\0000310}}
.main-menu-item a.home, .main-menu-item a.home:hover, .main-menu-item a.home.active, .main-menu-item a.files, .main-menu-item a.files:hover, .main-menu-item a.files.active, .main-menu-item a.settings, .main-menu-item a.settings:hover, .main-menu-item a.settings.active, .icon-edit, .icon-save, .icon-preview, .icon-delete, .icon-logout, .icon-insert-images, .icon-help, .logout {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_mixin\.scss}line{font-family:\0000316}}
.main-menu-item a.home, .main-menu-item a.home:hover, .main-menu-item a.home.active, .main-menu-item a.files, .main-menu-item a.files:hover, .main-menu-item a.files.active, .main-menu-item a.settings, .main-menu-item a.settings:hover, .main-menu-item a.settings.active, .icon-edit, .icon-save, .icon-preview, .icon-delete, .icon-logout, .icon-insert-images, .icon-help, .logout {
  vertical-align: middle;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_mixin\.scss}line{font-family:\0000321}}
.icon-btn {
  padding: 5px;
  background-color: #f4f4f4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
}

@font-face {
  font-family: 'Daniel';
  font-weight: 400;
  font-style: normal;
  src: local("Daniel"), url("../fonts/daniel.ttf") format("truetype");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_typo\.scss}line{font-family:\0000311}}
html {
  color: #333333;
  font-family: Lusitana, Ledger;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_typo\.scss}line{font-family:\0000316}}
h3 {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_typo\.scss}line{font-family:\0000320}}
ul {
  list-style-type: square;
  list-style-position: outside;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_typo\.scss}line{font-family:\0000326}}
a {
  color: #ff9933;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_typo\.scss}line{font-family:\0000332}}
a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_typo\.scss}line{font-family:\0000337}}
code {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 10px;
  border: 1px dashed #a5a5a5;
  background: #f5f5f5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_tools\.scss}line{font-family:\000031}}
.pull-left {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_tools\.scss}line{font-family:\000035}}
.pull-right {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_tools\.scss}line{font-family:\000039}}
.hidden {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_tools\.scss}line{font-family:\0000313}}
.column {
  display: table-cell;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_menu\.scss}line{font-family:\000031}}
.menu {
  padding: 0;
  list-style-type: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\000031}}
.content.ace_editor {
  position: absolute;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\000039}}
.preview {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid #ff9933;
  background: #f4f4f4;
  margin: 10px;
  padding: 10px;
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\0000323}}
.with-preview.preview-right .content {
  left: 300px;
  right: auto;
  width: calc(49% - 300px);
  height: auto;
  bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\0000331}}
.with-preview.preview-right .preview {
  top: 50px;
  left: auto;
  right: 0;
  width: 49%;
  height: auto;
  bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\0000344}}
.with-preview .content {
  bottom: auto;
  height: 45%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\0000348}}
.with-preview .preview {
  position: absolute;
  bottom: 0;
  left: 300px;
  height: 45%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\0000358}}
.content .CodeMirror {
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\0000361}}
.content .CodeMirror .CodeMirror-vscrollbar {
  overflow: hidden;
}

/* Editor view */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\0000369}}
.title, .author {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\0000371}}
.title .show, .author .show {
  padding: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\0000374}}
.title .show:hover, .author .show:hover {
  border: 1px solid #3a7ffc;
  padding: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\0000380}}
.title .edit, .author .edit {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\0000385}}
.title.editing .show, .author.editing .show {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\0000389}}
.title.editing .edit, .author.editing .edit {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\0000396}}
.info-text {
  color: #ff9933;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_editor\.scss}line{font-family:\00003102}}
#upload,
#upload-file {
  visibility: hidden;
  width: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\000031}}
.main-menu {
  width: 70px;
  background: #ff9933;
  padding-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\000037}}
.main-menu-item {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\0000312}}
.main-menu-item.active {
  position: relative;
  width: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\0000316}}
.main-menu-item.active:after {
  background-position: 0 0;
  width: 19px;
  height: 31px;
  content: "";
  display: block;
  margin-left: 20px;
  position: absolute;
  right: -3px;
  top: 2px;
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\0000333}}
.main-menu-item a {
  display: block;
  text-align: center;
  color: black;
  text-decoration: none;
  opacity: 0.7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\0000341}}
.main-menu-item a:hover {
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\0000345}}
.main-menu-item a.active {
  color: #3a7ffc;
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\0000354}}
.main-menu-item a.home {
  background-position: 0 -642px;
  padding-top: 32px;
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\0000358}}
.main-menu-item a.home:hover {
  background-position: 0 -642px;
  padding-top: 32px;
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\0000362}}
.main-menu-item a.home.active {
  background-position: 0 -585px;
  padding-top: 32px;
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\0000354}}
.main-menu-item a.files {
  background-position: 0 -430px;
  padding-top: 32px;
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\0000358}}
.main-menu-item a.files:hover {
  background-position: 0 -430px;
  padding-top: 32px;
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\0000362}}
.main-menu-item a.files.active {
  background-position: 0 -373px;
  padding-top: 32px;
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\0000354}}
.main-menu-item a.settings {
  background-position: 0 -169px;
  padding-top: 32px;
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\0000358}}
.main-menu-item a.settings:hover {
  background-position: 0 -169px;
  padding-top: 32px;
  width: 32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_main-menu\.scss}line{font-family:\0000362}}
.main-menu-item a.settings.active {
  background-position: 0 -112px;
  padding-top: 32px;
  width: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_second-menu\.scss}line{font-family:\000031}}
.second-menu {
  -webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.4);
  width: 220px;
  background: #f4f4f4;
  padding-left: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_second-menu\.scss}line{font-family:\000039}}
.second-menu .item a {
  font-size: 16px;
  color: #333333;
  font-weight: normal;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  outline: none;
  text-overflow: ellipsis;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_second-menu\.scss}line{font-family:\0000319}}
.second-menu .item a:hover {
  color: #3a7ffc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_second-menu\.scss}line{font-family:\0000324}}
.second-menu .item.active {
  position: relative;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_second-menu\.scss}line{font-family:\0000328}}
.second-menu .item.active:after {
  background-position: 0 -56px;
  width: 19px;
  height: 31px;
  content: "";
  display: block;
  margin-left: 20px;
  position: absolute;
  right: -2px;
  top: -5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_second-menu\.scss}line{font-family:\0000340}}
.second-menu .item.active a {
  color: #3a7ffc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_form\.scss}line{font-family:\000031}}
.form-input {
  width: 400px;
  display: table;
  margin: 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_form\.scss}line{font-family:\000036}}
.form-input label {
  display: table-cell;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_form\.scss}line{font-family:\0000311}}
.form-input input, .form-input select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: table-cell;
  height: 26px;
  width: 200px;
  padding: 2px 3px;
  border: 1px solid #ACACAC;
  color: #333333;
  background-color: #FFF;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/_form\.scss}line{font-family:\0000326}}
.form-input input:active, .form-input input:focus, .form-input select:active, .form-input select:focus {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px #ff9933;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px #ff9933;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px #ff9933;
  border-color: #ff9933;
  outline: 0px none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000318}}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000326}}
.topbar {
  -webkit-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.75);
  background: #333333;
  height: 40px;
  position: relative;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000333}}
.topbar .title {
  margin: 0;
  padding: 0 0 0 10px;
  display: inline-block;
  color: #ff9933;
  font-family: 'Daniel';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000341}}
.topbar .pull-right a {
  color: white;
  margin-right: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000347}}
.wrapper {
  display: block;
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000356}}
.content-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  table-layout: fixed;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000364}}
.main-content {
  -webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.4);
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.4);
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000368}}
.main-content .content {
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000373}}
.toolbar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px 0;
  overflow: auto;
  margin-top: 10px;
  height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000381}}
.toolbar .middle-area {
  display: inline-block;
  margin-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000388}}
.icon-edit {
  background-position: 0 -487px;
  padding-top: 24px;
  width: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000388}}
.icon-save {
  background-position: 0 -748px;
  padding-top: 24px;
  width: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000388}}
.icon-preview {
  background-position: 0 -226px;
  padding-top: 24px;
  width: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000388}}
.icon-delete {
  background-position: 0 -699px;
  padding-top: 24px;
  width: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000388}}
.icon-logout {
  background-position: 0 -536px;
  padding-top: 24px;
  width: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000388}}
.icon-insert-images {
  background-position: 0 -275px;
  padding-top: 24px;
  width: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000388}}
.icon-help {
  background-position: 0 -324px;
  padding-top: 24px;
  width: 24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000393}}
.logout {
  background-position: 0 -536px;
  padding-top: 24px;
  width: 24px;
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\0000398}}
.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 300px;
  border: 1px solid #ff9933;
  overflow: auto;
  margin: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\00003111}}
[for="upload"],
[for="upload-file"] {
  position: absolute;
  width: 200px;
  cursor: pointer;
  color: #ff9933;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\00003118}}
.images-list {
  -webkit-box-shadow: -1px 0 11px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -1px 0 11px rgba(0, 0, 0, 0.6);
  box-shadow: -1px 0 11px rgba(0, 0, 0, 0.6);
  -webkit-transition: width 0.3s ease, overflow 0.3s ease, padding 0.3s ease;
  -moz-transition: width 0.3s ease, overflow 0.3s ease, padding 0.3s ease;
  -o-transition: width 0.3s ease, overflow 0.3s ease, padding 0.3s ease;
  transition: width 0.3s ease, overflow 0.3s ease, padding 0.3s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  width: 300px;
  background: #f4f4f4;
  bottom: 0;
  margin: 10px 0;
  top: 35px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\00003132}}
.images-list.hidden {
  width: 0;
  padding: 0;
  display: block;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\00003139}}
.images-list .images {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\00003144}}
.images-list .images .image {
  height: 25px;
  cursor: pointer;
  color: #ff9933;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nmedda\/private\/Projects\/myki\/assets\/scss\/app\.scss}line{font-family:\00003149}}
.images-list .images .image:hover {
  color: #3a7ffc;
}
