@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nicolas\/project\/myki\/assets\/scss\/app\.scss}line{font-family:\000035}}
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nicolas\/project\/myki\/assets\/scss\/app\.scss}line{font-family:\0000312}}
.toolbar {
  position: fixed;
  top: 70px;
  left: 211px;
  right: 0;
  text-indent: 10px;
  background: #9e9e9e;
  height: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nicolas\/project\/myki\/assets\/scss\/app\.scss}line{font-family:\0000322}}
.menu {
  position: fixed;
  top: 100px;
  left: 0px;
  bottom: 0;
  width: 210px;
  border: 1px solid #9e9e9e;
  border-right: 1px solid red;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nicolas\/project\/myki\/assets\/scss\/app\.scss}line{font-family:\0000332}}
.menu ul {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nicolas\/project\/myki\/assets\/scss\/app\.scss}line{font-family:\0000339}}
.menu li {
  list-style-type: none;
  border-bottom: 1px solid #9e9e9e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nicolas\/project\/myki\/assets\/scss\/app\.scss}line{font-family:\0000345}}
.menu li.active {
  background: #9e9e9e;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nicolas\/project\/myki\/assets\/scss\/app\.scss}line{font-family:\0000350}}
.menu li .edit {
  font-size: 12px;
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nicolas\/project\/myki\/assets\/scss\/app\.scss}line{font-family:\0000357}}
#page {
  position: fixed;
  top: 100px;
  left: 211px;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nicolas\/project\/myki\/assets\/scss\/app\.scss}line{font-family:\0000367}}
#page.with-preview {
  right: auto;
  width: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nicolas\/project\/myki\/assets\/scss\/app\.scss}line{font-family:\0000373}}
.editor {
  border: 1px solid #9e9e9e;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nicolas\/project\/myki\/assets\/scss\/app\.scss}line{font-family:\0000380}}
#page-preview {
  position: fixed;
  top: 100px;
  right: 0;
  width: 50%;
  bottom: 0;
  overflow: auto;
  z-index: 1;
  background: white;
}
