.content.ace_editor {
    position: absolute;
}

.toolbar {
    
}

.preview {
    @include box-sizing(border-box);
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid $mainOrange;
    background: $softWhite;
    margin: 10px;
    padding: 10px;
    overflow: auto;
}

.with-preview.preview-right {
    $offsetLeft: $sidebar2-width + $sidebar1-width + 10;
    .content {
        left: $offsetLeft;
        right: auto;
        width: calc(49% - #{$offsetLeft});
        height: auto;
        bottom: 0;
    }

    .preview {
        top: $toolbarHeight + 10px;
        left: auto;
        right: 0;
        width: 49%;
        height: auto;
        bottom: 0;
    }
}

$heightWithMarge: 45%;

.with-preview {
    .content {
        bottom: auto;
        height: $heightWithMarge;
    }
    .preview {
        position: absolute;
        bottom: 0;
        left: $sidebar2-width + $sidebar1-width + 10;
        height: $heightWithMarge;
    }
}



.content .CodeMirror {
    height: auto;

    .CodeMirror-vscrollbar {
        overflow: hidden;
    }
}

/* Editor view */

// Title edit in place
.title, .author {
    display: inline-block;
    .show {
        padding: 3px;

        &:hover {
            border: 1px solid $mainBlue;
            padding: 2px;
        }
    }

    .edit {
        display: none;
    }

    &.editing {
        .show {
            display: none;
        }

        .edit {
            display: inline-block;
        }
    }
}


.info-text {
  color: $mainOrange;
  font-style: italic;
}

#upload, 
#upload-file {
    visibility: hidden;
    width: 200px;
}
