.content.ace_editor {
    position: absolute;
}

.toolbar {
    @include box-sizing(border-box);
    padding: 10px 10px 0;
    overflow: auto;
    margin-top: 10px;
    height: $toolbarHeight;
    background: white;
    border-bottom: 3px solid $mainOrange;

    .title {
        display: inline-block;
        margin-left: 20px;
    }
}

.preview {
    @include box-sizing(border-box);
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-color: $mainOrange;
    border-bottom-width: 0;
    border-top-width: 0;
    background: $softWhite;
    padding: 10px;
    overflow: auto;
}

.with-preview.preview-right {
    $offsetLeft: $sidebar2-width + $sidebar1-width + 10;
    .content {
        left: $offsetLeft;
        right: auto;
        width: calc(49% - #{$offsetLeft});
        height: auto;
        bottom: 0;
    }

    .preview {
        border-top-width: 0;
        border-left-width: 3px;
        top: $toolbarHeight + 23px;
        left: auto;
        right: 0;
        width: 49%;
        height: auto;
        bottom: 0;
    }
}

$heightWithMarge: 45%;

.with-preview {
    .content {
        bottom: auto;
        height: $heightWithMarge;
    }
    .preview {
        border-left-width: 0;
        border-top-width: 3px;
        position: absolute;
        bottom: 0;
        left: $sidebar2-width + $sidebar1-width + 10;
        height: $heightWithMarge;
    }
}



.content .CodeMirror {
    height: auto;

    .CodeMirror-vscrollbar {
        overflow: hidden;
    }
}

/* Editor view */

// Title edit in place
.title {
    .show {
        padding: 3px;

        &:hover {
            border: 1px solid $mainBlue;
            padding: 2px;
        }
    }

    .edit {
        display: none;
    }

    &.editing {
        .show {
            display: none;
        }

        .edit {
            display: inline-block;
        }
    }
}


#upload, 
#upload-file {
    visibility: hidden;
    width: 200px;
}

.main-content .content {
    padding: 0;
    top: 70px;
    margin: 0;
    border: 0;
}

.ace_content {
    margin-left: 10px !important;
}
