/* ICON */
@mixin image-replace($spriteName) {
    @extend %_image-replace;
    @extend %icon;
    @include main-menu-sprite($spriteName);
    padding-top: main-menu-sprite-height($spriteName);
    width: main-menu-sprite-width($spriteName);

    display: block;
    margin: 0 auto;
}

%_image-replace {
    @include hide-text();
    display: inline-block;
    height: 0;
}

%icon {
    vertical-align: middle;
    text-align: center;
}

.icon-btn {
    padding: 5px;
    @include border-radius(3px);
    margin-right: 5px;
}
.toolbar .icon-btn {
    display: inline-block;
    color: black;
}


.main-content .toolbar {
    height: auto;
    margin-top: 0;

    .icon {
        display: inline-block;
    }
}

.main-content .content {
    top: 80px;
}
