@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

html {
    color: $black;
    font-family: "Ubuntu", "Alegreya Sans", "Inconsolata";
    font-size: 12px;
}

h3 {
    text-align: center;
}

ul {
    list-style-type: square;
    list-style-position: outside;
    margin: 0;
}

a {
    color: $mainOrange;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.ace_editor .ace_content {
    font-family: "Cutive Mono";
    font-size: 14px;
}

code {
    @include border-radius(2px);
    @include box-sizing(border-box);
    display: inline-block;
    width: 100%;
    padding: 10px;
    border: 1px dashed #a5a5a5;
    background: #f5f5f5;
}


