$sidebar1-width: 70px;
$sidebar2-width: 220px;
$icons: 'edit', 'save', 'preview', 'delete', 'logout', 'insert-images', 'help';
$main-menu-spacing: 25px;
$toolbarHeight: 40px;
$heightWithMarge: 45%;
$previewWidth: 400px;
